#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 1rem 5rem;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.header {
  padding: 2rem;
  text-align: center;
}

.map-container {
  padding: 0;
}

.card {
  padding: 2em;
  text-align: center;
}